@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*
{
  font-family:"Oswald",sans-serif;
}
body
{
    width:100vw;
    height: 100vh;
    background-color: rgba(84, 0, 99, 0.884);
    display: flex;
    justify-content: center;
    align-items: center;
}
div
{
    color: white;
    text-align: center;
    background-color:white ;
    padding: 20px 80px;
    border-radius: 20px;
   
   
}
div h3
{
    font-size: 25px;
    font-weight: 500;
    color: black;
}
div button
{
    border: none;
    background-color:rgba(84, 0, 99, 0.884);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    
}
div button:hover
{
    background-color:black ;
    color:white;
    transition: .3s linear;
}
div p b
{
  color:rgba(84, 0, 99, 0.884);
  font-size: 25px;
}
div p
{
    font-size: 20px;
    color: black;
}
div h1{
    color: orangered;
}
